html body {
	background: #f2f2f2;
	font-family: 'Roboto', 'Arial', sans-serif;
}

.fs-48 {
	font-size: 48px;
}

.fs-36 {
	font-size: 36px;
}

.fs-24 {
	font-size: 24px;
}

.fs-18 {
	font-size: 18px;
}

.fw-900 {
	font-weight: 900;
}

.fw-700 {
	font-weight: 700;
}

.mt-100 {
	margin-top: 100px;
}

.mb-60 {
	margin-bottom: 60px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-80 {
	margin-bottom: 80px;
}

.container {
	max-width: 1000px;
}

.ptb-60 {
	padding: 60px 0;
}

.footer {
	background: white;
}

.btn-success {
	background: #2cc34f;
}

.btn-success:hover {
	background-color: #22943c;
}

.btn-success:disabled {
	background: #22943c;
	opacity: 1;
}
